@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :root {
  --sidebar-color: #fbf6f6;
  --body-color: #ffffff;
  --primary-color: #e8dede;
  --primary-color-light: #f3ecec;
  --text-color: #4a4a4a;
  --logo-color: #7065f5;
  --danger-color: #d94a4a;
} */

:root {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3cba;
  --text-color: #ccc;
  --logo-color: #7065f5;
  --danger-color: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

.main-content {
  display: flex;
  align-items: start;
}

/* Start header */
.main-header {
  position: fixed;
  height: 65px;
  width: 100%;
  background-color: var(--sidebar-color);
  border-bottom: 1px solid var(--primary-color);
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

/* Left side */
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-icon {
  font-size: 30px;
  color: var(--logo-color);
}

.project-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
}

/* Right side */
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  color: var(--text-color);
  cursor: pointer;
}

.header-right i {
  color: var(--logo-color);
}
/* end header */

/* Start Sidebar */

.asideContainer{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: calc(100vh - 65px);
  width: 15%;
  background-color: var(--sidebar-color);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9998;
  top: 65px;
}
.sidebar {
  width: 15%;
  margin-top: 65px;
  background-color: var(--sidebar-color);
  position: fixed;
}

.tap {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  transition: all 300ms ease;
  position: relative;
}

.tap .icon {
  margin-right: 30px;
}

.tap:hover {
  background-color: var(--primary-color-light);
  color: var(--logo-color);
  cursor: pointer;
}

.tap:hover::after {
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--logo-color);
  position: absolute;
  left: 0;
  top: 0;
}

#logout:hover{
background-color: var(--primary-color-light);
  color: var(--danger-color);
  cursor: pointer;
}

#logout:hover::after{
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--danger-color);
  position: absolute;
  left: 0;
  top: 0;
}
/* End Sidebar */

/* Start Main */
.content {
  margin-left: 15%;
  margin-top: 65px;
  padding: 25px;
}

.sideTab {
  display: none;
}

.sideTab.active {
  display: block;
}

.tap.active {
  background-color: var(--primary-color-light);
  color: var(--logo-color);
}

.tap.tap.active::after {
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--logo-color);
  position: absolute;
  left: 0;
  top: 0;
}

.tap.active .icon {
  color: #7065f5;
}
/* End Main */

/* Start Categories Section */
#categories,
#products,
#orders {
  padding: 15px;
  width: 80vw;
}

.categories-header,
.products-header,
.orders-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
}

.categories-header h2,
.products-header h2,
.orders-header h2 {
  font-weight: bold;
  font-size: 2.5rem;
}

.categories-header .categoryBtn,
.products-header .productBtn {
  padding: 15px 25px;
  border: none;
  outline: none;
  background-color: var(--logo-color);
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: all 300ms ease;
}

.categories-header .categoryBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.categories-header .categoryBtn i,
.products-header .productBtn i {
  margin-right: 10px;
}

hr {
  color: var(--text-color);
  margin-bottom: 15px;
}

/* Add new Category */
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-overlay-delete,
.modal-overlay-product-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-overlay-update,
.modal-overlay-product-update {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Box */
.modal {
  background: var(--sidebar-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  max-width: 90%;
}

.modal h3 {
  margin-bottom: 15px;
}

/* Form */

.two-input-group{
  display: flex;
  width: 100%;
  gap: 15px;
}

.two-input-group .form-group{
  width: 50%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  background: var(--body-color);
  color: var(--text-color);
  outline: none;
}

/* Actions */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn.cancel {
  background: var(--primary-color);
  color: var(--text-color);
}

.btn.save {
  background: var(--logo-color);
  color: #fff;
}

.btn.danger {
  background: var(--danger-color);
  color: white;
}

.category-search,
.product-search,
.orders-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 25px;
}

.category-search .totalCategories,
.product-search .totalProducts ,
.orders-search .totalOrders {
  background-color: var(--primary-color);
  padding: 15px 20px;
  width: 450px;
  font-weight: bold;
  font-size: 1.4rem;
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

.category-search .search-input,
.product-search .search-input,
.orders-search .search-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding-left: 20px;
  background-color: var(--primary-color);
}

.category-search .search-input input,
.product-search .search-input input,
.orders-search .search-input input {
  width: 450px;
  height: 60px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--primary-color);
}
.categories-table,
.product-table,
.orders-table {
  width: 100%;
  border-collapse: collapse;
  background: var(--body-color);
  border-radius: 8px;
  overflow: hidden;
  color: var(--text-color);
  font-size: 1rem;
}

.product-table{
  table-layout: fixed;
}

.product-table th:nth-child(1){
  width: 5%;
}

.categories-table thead,
.product-table thead,
.orders-table thead {
  background: var(--primary-color);
  height: 60px;
}

/* .product-table thead{
  text-align: left;
} */

.categories-table th,
.categories-table td ,
.orders-table th,
.orders-table td{
  padding: 14px 16px;
  text-align: left;
  font-size: 1rem;
  color: var(--text-color);
}

.product-table th,
.product-table td {
  padding: 14px 16px;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
  /* border: 1px solid var(--primary-color-light); */
}

.categories-table td:nth-child(3) {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categories-table th {
  font-weight: 800;
}

.categories-table tbody tr,
.product-table tbody tr,
.orders-table tbody tr {
  border-bottom: 1px solid var(--primary-color-light);
}

.categories-table tbody tr:hover,
.product-table tbody tr:hover,
.orders-table tbody tr:hover {
  background: var(--primary-color-light);
}

#orders-container .actions button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#orders-container .actions .confirm-btn {
  background-color: var(--logo-color);
  color: white;
}

#orders-container .actions .reject-btn {
  background-color: var(--danger-color);
  color: white;
}

/* Progress Bar */
.sold-container{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.progress-bar-container {
  width: 100%;
  height: 5px;
  background-color: var(--primary-color-light);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-left: 5px;
}

.progress-bar {
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 10px 0 0 10px;
  transition: width 0.5s ease;
}

.progress-text {
  font-size: 0.8rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 4px;
  margin-left: 5px;
}

/* Actions column */
.categories-table .actions,
.product-table .actions {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.categories-table .actions i,
.product-table .actions i {
  cursor: pointer;
  font-size: 20px;
}

.categories-table .actions .edit,
.product-table .actions .edit {
  color: var(--logo-color);
}

.categories-table .actions .delete,
.product-table .actions .delete {
  color: var(--danger-color);
}

.empty-table {
  display: none;
  text-align: center;
  padding: 50px 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

/* End Categories Section */
