
:root{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --text-color: #ccc;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}