
.shop_page{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    align-items: flex-start;
}

.filters{
    width: 250px;
    padding:5px;
    border: 1px solid #ddd;
    border-radius:2px;
  
}

.filters h4{
    font-size: 18px;

}
.filters a{
    display: block;
   border-radius: 4px;
    color: #110e0e;
    text-decoration: none;
    transition: 0.3s;
}

.filters a:hover{

    color: #d51111;;
}

.price_filter input{
    width: 100%;
    margin: 10px 0;
}

.products_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 100%;
    height: 50px;

  
}.product{
    padding: 10px;
}
.product{
    background: #FBF6F6;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: relative; 

}

.product:hover{
    transform: scale(1.05); 
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
   
}


.img_product{
    display: flex;
    justify-content: center;
}

.img_product img{
    max-width: 180px;
}
.img_product img{
    height: 180px;
}

.name_product{
    text-align: center;
    margin: 10px 0;
}

.price{
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: large;
}

.icons{
    margin-top: auto;
    width: 200px;
    height: 50px;
     margin: 0 auto;
     gap: 15px;

}

.btn_add_cart{
    width: 50%;
    padding: 8px 0;
    background: #0f0e0e;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 5px;
     margin: 0 auto;

}

.btn_add_cart:hover{
    background: #520808;
}
.wishlist-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background:black;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wishlist-btn.active i {
    color:rgb(239, 228, 228);
    font-weight: 900;
}



