:root {

  --bg-color: #FBF6F6;
}
body{
    background-color:var(--bg-color);
     margin: 0;
     padding-top: 65px;
     font-size:17px;
     font-weight: bold;
     font-family: 'Italiana' ,serif
     
     
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;  
    background-color: #FBF6F6;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    
   
 
}

.nav-left{
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin: 0;
    
}
.logo {
    font-size: 22px; 
    font-weight: bold;
    font-family: 'Italiana' ,serif;
    margin: 0;
    padding: 0 20px;
  padding: 0 50px 0 60px;
}

.nav-center{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 150px;
     font-family: 'Italiana' ,serif ;
     font-size: 150px;
     padding: 10px 20px;
}
.nav-link {
  text-decoration: none;
  color: black; 
  font-size: 20px;
  margin: 0;
  padding: 27px;
  transition: color 0.3s ease;
}

.nav-link.active {
  color: #d51111;
}

 
.search-box {
    width: 40%;
    max-width: 200px;
    background: transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    margin-left: 50px;

    border: 1px solid #ccc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.search-box input{
    border: none;
    outline: none;
    background: transparent;
     flex: 1;
    min-width: 0;    
    font-size: 18px;
    color: #555;
    border: #0e0d0d;
    box-shadow: #960e0e;
   
}

.search-box input::placeholder{
    color: #888;
    box-shadow: #960e0e;

}

.search-icon{
    font-size: 22px;
    color: #666;
    cursor: pointer;
    flex-shrink: 0; 
    padding-left:20px;
}

.cart{
       font-size: 22px;
    color: #0e0d0d;
    cursor: pointer;
}


.shop_page{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    align-items: flex-start;
}

.filters{
    width: 250px;
    padding:5px;
    border: 1px solid #ddd;
    border-radius:2px;
  
}

.filters a{
    display: block;
   border-radius: 4px;
    color: #110e0e;
    text-decoration: none;
    transition: 0.3s;
}

.filters a {
    color: black;
}

.filters a.active {
    color: #d51111;
}

.price_filter{
    padding:10px;
    color:rgb(182, 25, 25);
    font-size:20px;
    font-weight:bold;
}
.category_nav{
    padding:20px;
    color:rgb(182, 25, 25)
    ;font: size 15px;
    font-weight:bold;

}


.products_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 100%;
    

  
}.product{
    padding: 10px;
}
.product{
    background: #FBF6F6;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: relative; 

}

.product:hover{
    transform: scale(1.05); 
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
   
}


.img_product{
    display: flex;
    justify-content: center;
    
}
    .img_product img {
  pointer-events: none;
}



.img_product img{
    max-width: 300px;
     height: 200px;
   

}

.name_product{
    text-align: center;
    margin: 10px 0;
}

.price{
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: large;
}

.icons{
    margin-top: auto;
    width: 200px;
    height: 50px;
     margin: 0 auto;
     gap: 15px;

}

.btn_add_cart{
    width: 50%;
    padding: 8px 0;
    background: #0f0e0e;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 5px;
     margin: 0 auto;

}

.btn_add_cart:hover{
    background: #520808;
}
.wishlist-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background:black;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wishlist-btn.active i {
  color: rgb(239, 228, 228);
  font-weight: 900;
}

.wishlist-page {
    padding-top: 80px;
}

#wishlistGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}


#wishlistGrid .product {
  max-width: 230px;
  padding: 10px;
  border: 1px solid #eee;
  height: 300px;
  border-radius: 8px;
  background: #fff;
}

#wishlistGrid .img_product {
  width: 100%;
  height: 200px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 15px;
}

#wishlistGrid .product img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#wishlistGrid h4,
#wishlistGrid p {
  font-size: 14px;
  margin: 5px 0;
}
.wishlist-btn {
  position: absolute;
  z-index: 10;
}





