:root {

  --bg-color: #FBF6F6;
}
body{
    background-color:var(--bg-color);
     margin: 0;
     padding-top: 65px;
     
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;  
    background-color: #FBF6F6;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
   
 
}

.nav-left{
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin: 0;
    
}
.logo{
    font-size: 22px; 
    font-weight: bold;
    font-family: 'Italiana' ,serif ;
   justify-content: space-between;
     margin: 0;
   
}

.nav-center{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 150px;
}

 .nav-left a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
    justify-content: center;
     justify-content: space-between;
      margin: 0;
      gap: 50px;

   
}
 .nav-left a:hover{
    color: #960e0e;
 }
 
.search-box {
    width: 40%;
    max-width: 200px;
    background: transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    margin-left: 50px;

    border: 1px solid #ccc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.search-box input{
    border: none;
    outline: none;
    background: transparent;
     flex: 1;
    min-width: 0;    
    font-size: 18px;
    color: #555;
    border: #0e0d0d;
    box-shadow: #960e0e;
   
}

.search-box input::placeholder{
    color: #888;
    box-shadow: #960e0e;

}

.search-icon{
    font-size: 22px;
    color: #666;
    cursor: pointer;
    flex-shrink: 0; 
    padding-left:20px;
}

.cart{
       font-size: 22px;
    color: #0e0d0d;
    cursor: pointer;
}